@import 'tailwindcss';

:root {
  --background: #051804;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary: #171717;
  --accent: rgb(113, 182, 189);
  --white: #fff;
  --background: #051804;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: var(--primary);
  color: var(--white);

  & .logo {
    font-size: 2rem;
    padding-inline: 1rem;
    color: black;
    background-color: white;
  }
}

li.active {
  color: var(--accent);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('/hero.jpg');
  background-size: cover;
  background-position: center;
  color: white;

  & h1 {
    text-shadow: black 0px 0px 0.15rem;
  }

  & span {
    gap: 2rem;
    & > span {
      background-color: black;
      padding: 0.5rem 1rem;
      border: solid 0.05rem white;
      font-size: 1.25rem;
      text-align: center;
    }
  }
}

h1 {
  font-size: 10rem;
  margin-bottom: 1rem;
}
